In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
from fiona.crs import from_epsg

In [2]:
import urllib, json, requests 
import geojson

In [3]:
from ipyleaflet import Map, GeoData, GeoJSON, basemaps, basemap_to_tiles, Icon, Circle, Marker, LayerGroup, WidgetControl
import ipywidgets as widgets
from ipywidgets import Button 
from IPython.display import display, clear_output

In [4]:
#need this to stop numpy from returning truncated arrays 
import sys
np.set_printoptions(threshold=sys.maxsize)

In [5]:
#setting basic map
center = (40.7210907,-73.9877836)
basemap = basemap_to_tiles(basemaps.CartoDB.Positron)

m = Map(layers=(basemap, ), center=center, zoom=15, min_zoom = 7, max_zoom = 20)

In [6]:
def extract_location():       
    global gdf, lat, lon
    
    lat = str(markerlocation[0])
    lon = str(markerlocation[1])
    
    df2 = pd.DataFrame(markerlocation)
    df=df2.transpose()
    df.columns=['Latitude','Longitude']

    gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude), crs='epsg:4326')
    
    return gdf

In [7]:
draggable=False
marker_opacity=1
icon = Icon(icon_url='icon.png', icon_size=[15, 15])

marker = Marker(location=center, draggable=draggable, icon=icon, opacity=marker_opacity)

markerlocation = marker.location 

layer_group = LayerGroup(layers=(marker, ))
m.add_layer(layer_group)
   
def update_marker(**kwargs):
    
    if kwargs.get('type') == 'click':
        layer_group.clear_layers();
        
        marker = Marker(location=kwargs.get('coordinates'), draggable=draggable, icon=icon, opacity=marker_opacity, options=['rise_on_hover'])  
        
        global markerlocation
        markerlocation = marker.location 
        
        layer_group.add_layer(marker)
    
        draw_update_buffer(**kwargs)
    
m.on_interaction(update_marker)

In [8]:
def draw_update_buffer(**kwargs):     
    m.on_interaction(update_marker)
    extract_location()
    
    global half_mi
    half_mi=gdf.copy()
    half_mi['geometry'] = half_mi.geometry.buffer(.004,  cap_style=1, join_style=1)

    map_extent = gdf.copy()
    map_extent['geometry'] = map_extent.buffer(1,  cap_style=1, join_style=1)

    diff = gpd.overlay(map_extent, half_mi, how='difference')
    
    half_mi_difference = GeoData(geo_dataframe = diff,
                       style={'color': "black", \
                              'fillColor': "#000000", \
                              'fillOpacity': .2, \
                              'opacity': 1, \
                              'weight': 2},
                       name = "Test", crs='epsg:4326')

    layer_group.add_layer(half_mi_difference)

In [9]:
# m

In [10]:
def import_censustracts():
    draw_update_buffer()
    
    bounding_box = half_mi.envelope
    df = gpd.GeoDataFrame(gpd.GeoSeries(bounding_box), columns=['geometry'])
    minx, miny, maxx, maxy = df.geometry.total_bounds
    bounds = minx, miny, maxx, maxy

    # census tracts link
    endpoint = 'https://tigerweb.geo.census.gov/arcgis/rest/services/TIGERweb/Tracts_Blocks/MapServer/4/query'
    s = requests.session()
    s.params = {
        'geometry': str(bounds),
        'geometryType': 'esriGeometryEnvelope',
        'inSR': 4326,
        'spatialRel': 'esriSpatialRelIntersects',
        'outFields': 'GEOID,STATE,COUNTY,TRACT,NAME,STGEOMETRY,OBJECTID',
        'returnGeometry': True,
        'f': 'geojson',        
    }
    start = 0
    done = False
    features = []
    crs = None
    while not done:
        r = s.get(endpoint, params={
            'resultOffset': start,
            'resultRecordCount': 32,
        })
        censusgeo = geojson.loads(r.text)
        newfeats = censusgeo.__geo_interface__['features']
        if newfeats:
            features.extend(newfeats)
            crs=censusgeo.__geo_interface__['crs']
            start += len(newfeats)
            print("Received", len(newfeats), "entries,", start, "total")
        else:
            done = True
    
    global tracts
    tracts = gpd.GeoDataFrame.from_features(features, crs=crs)
    return tracts

import_censustracts()

Received 12 entries, 12 total
Received 1 entries, 13 total

,geometry,GEOID,STATE,COUNTY,TRACT,NAME,OBJECTID
0,"POLYGON ((-73.98986 40.72053, -73.98962 40.720...",36061003001,36,061,003001,Census Tract 30.01,10843
1,"POLYGON ((-73.99326 40.72235, -73.99352 40.721...",36061003601,36,061,003601,Census Tract 36.01,10846
2,"POLYGON ((-73.99155 40.72709, -73.99179 40.726...",36061003800,36,061,003800,Census Tract 38,10847
3,"POLYGON ((-73.98788 40.71741, -73.98837 40.716...",36061001402,36,061,001402,Census Tract 14.02,26519
4,"POLYGON ((-73.98845 40.72328, -73.98864 40.722...",36061003002,36,061,003002,Census Tract 30.02,40986
5,"POLYGON ((-73.98454 40.71639, -73.98501 40.715...",36061001200,36,061,001200,Census Tract 12,45321
6,"POLYGON ((-73.99233 40.72491, -73.99260 40.724...",36061003602,36,061,003602,Census Tract 36.02,52962
7,"POLYGON ((-73.98705 40.72520, -73.98750 40.724...",36061003200,36,061,003200,Census Tract 32,56775
8,"POLYGON ((-73.99750 40.71407, -73.99744 40.714...",36061001600,36,061,001600,Census Tract 16,71680
9,"POLYGON ((-73.99442 40.71939, -73.99481 40.718...",36061001800,36,061,001800,Census Tract 18,71681
10,"POLYGON ((-73.98448 40.72024, -73.98507 40.719...",36061002201,36,061,002201,Census Tract 22.01,71962
11,"POLYGON ((-73.98344 40.72202, -73.98382 40.721...",36061002202,36,061,002202,Census Tract 22.02,71963
12,"POLYGON ((-73.98344 40.72202, -73.98382 40.721...",36061002202,36,061,002202,Census Tract 22.02,71963

In [11]:
def download_acs():  
    state = tracts["STATE"].unique().tolist()
    state = ', '.join(map(str, state)).replace(" ", "")

    tract = tracts["TRACT"].unique().tolist()
    tract = ', '.join(map(str, tract)).replace(" ", "") 

    county = tracts["COUNTY"].unique().tolist()
    county = ', '.join(map(str, county)).replace(" ", "") 

    api_key = '9330dc4bf086a84f19fb412bb15f232507301de6'
    acs_url = f'https://api.census.gov/data/2018/acs/acs5/subject/'
    
    global acs_variables
    acs_variables_initial = 'S1901_C04_001E,S1901_C01_001E,S1603_C02_002E,S1603_C02_003E,S1603_C02_004E,S1601_C01_005E,S1601_C01_006E,S1601_C01_007E,S1601_C01_009E,S1601_C01_010E,S1601_C01_011E,S1601_C01_013E,S1601_C01_014E,S1601_C01_015E,S1601_C01_017E,S1601_C01_018E,S1601_C01_019E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,S1901_C01_009E,S1901_C01_010E,S1901_C01_011E,S1901_C04_002E,S1901_C04_003E,S1901_C04_004E,S1901_C04_005E,S1901_C04_006E,S1901_C04_007E,S1901_C04_008E,S1901_C04_009E,S1901_C04_010E,S1901_C04_011E'
    acs_variables_additional = 'S1501_C01_002E,S1501_C01_004E,S1501_C01_003E,S1501_C01_005E,S1501_C01_017E,S1501_C01_018E,S1501_C01_020E,S1501_C01_021E,S1501_C01_023E,S1501_C01_024E,S1501_C01_025E,S1501_C01_026E,S1501_C03_002E,S1501_C03_003E,S1501_C03_004E,S1501_C03_005E,S1501_C03_017E,S1501_C03_018E,S1501_C03_020E,S1501_C03_021E,S1501_C03_023E,S1501_C03_024E,S1501_C03_026E,S1501_C03_027E,S1501_C05_002E,S1501_C05_003E,S1501_C05_004E,S1501_C05_005E,S1501_C05_017E,S1501_C05_018E,S1501_C05_020E,S1501_C05_021E,S1501_C05_023E,S1501_C05_024E,S1501_C05_026E,S1501_C05_027E,S1401_C01_030E,S1401_C01_032E,S1401_C01_034E'
    acs_variables = acs_variables_initial + "," + acs_variables_additional
    
    get_acs_initial = f'{acs_url}?&get={acs_variables_initial}&for=tract:{tract}&in=state:{state}%20county:{county}&key={api_key}'
    get_acs_additional = f'{acs_url}?&get={acs_variables_additional}&for=tract:{tract}&in=state:{state}%20county:{county}&key={api_key}'

    data_acs_initial=requests.get(get_acs_initial).json()
    data_acs_additional=requests.get(get_acs_additional).json()
    
    global acs
    acs_initial=pd.DataFrame(data_acs_initial[1:], columns=data_acs_initial[0])
    acs_additional=pd.DataFrame(data_acs_additional[1:], columns=data_acs_additional[0])

    acs=pd.merge(acs_initial, acs_additional, on='tract', how='left')

download_acs()

In [12]:
#any null rows?
test = acs.columns[acs.isnull().any()]
test

Index([], dtype='object')

In [13]:
# acs = acs.drop(['S0901_C01_033E', 'S0901_C01_034E', 'S0902_C01_003E', 'S0902_C01_004E','S0902_C01_005E'], axis=1)

In [14]:
def clean_combine_census_and_geographic_data():
    global acs_site_sum
    tracts["area"]=tracts.area
    acs_tracts = pd.merge(tracts, acs, left_on='TRACT', right_on='tract', how='left')
    tracts_clipped = gpd.overlay(half_mi, acs_tracts, how='intersection')
    tracts_clipped["area_clipped"]=tracts_clipped.area 
    
    acs_site=tracts_clipped.copy()
    
    cols = acs_variables.split(",")
#      woah not actually done the proportional multiplication here
    acs_site[cols] = acs_site[cols].apply(pd.to_numeric, errors='coerce', axis=1)

    acs_site_sum = pd.DataFrame(acs_site[cols].sum().astype(int))

    acs_site_sum.reset_index(inplace=True)
    acs_site_sum.columns = ['variables', 'sum_in_area']
    
clean_combine_census_and_geographic_data()

In [15]:
data_dict = pd.read_csv("data-dictionary.csv")
data_dict

,sex,age_group,variable_group,variables,variable_name,variable_description,ages
0,Both,5 to 17 years,Language Spoken At Home,S1603_C02_002E,Speak Only English at Home,NaN,"5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17"
1,Both,18 to 64 years,Language Spoken At Home,S1603_C02_003E,Speak Only English at Home,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
2,Both,65 years and over,Language Spoken At Home,S1603_C02_004E,Speak Only English at Home,NaN,"64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75..."
3,Both,5 to 17 years,Language Spoken At Home,S1603_C04_002E,Speak a Language other than English at Home,NaN,"5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17"
4,Both,18 to 64 years,Language Spoken At Home,S1603_C04_003E,Speak a Language other than English at Home,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
...,...,...,...,...,...,...,...
72,Female,65 years and over,Educational Attainment,S1501_C05_026E,High school graduate or higher,NaN,"65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76..."
73,Female,65 years and over,Educational Attainment,S1501_C05_027E,Bachelor's degree or higher,NaN,"65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76..."
74,Both,18 to 24 years,School Enrollment,S1401_C01_030E,Enrolled in college or graduate school,NaN,"18, 19, 20, 21, 22, 23, 24"
75,Male,18 to 24 years,School Enrollment,S1401_C01_032E,Enrolled in college or graduate school,NaN,"18, 19, 20, 21, 22, 23, 24"
76,Female,18 to 24 years,School Enrollment,S1401_C01_034E,Enrolled in college or graduate school,NaN,"18, 19, 20, 21, 22, 23, 24"

In [16]:
# only use this if i decide to add in the option to select all
ALL = 'ALL'
def user_options_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique
#

In [17]:
def user_options_sorted_values(array):
    unique = array.unique().tolist()
    unique.sort()
    return unique

In [18]:
output = widgets.Output()

In [19]:
data_output = widgets.Output()

In [20]:
def user_selection():
    
    output.clear_output()
    data_output.clear_output() 
    
    global selected_age, selected_gender, selected_percentile, text_generation_button, selection_filter, variable_inputs
#     selected_age = widgets.Dropdown(options = user_options_sorted_values(data_dict.age_group),\
#                                     value = "5 to 17 Years")
    selected_age = widgets.BoundedIntText(min=5, max=99, value=25, step=1, description='Age:')
    selected_gender = widgets.ToggleButtons(options = user_options_sorted_values(data_dict.sex),\
                                            value = "Male",\
                                            description='Sex:', \
                                            disabled=False, button_style='', )
    selected_percentile = widgets.IntSlider(min=0, max=100, step=10, value=50, description='Percentile:',)
    text_generation_button = Button(description="Generate Text")
    
#     display(selected_age, selected_gender, selected_percentile, output)
    
    selected_age_str= str(selected_age.value)

    selection_filter = data_dict[(data_dict.ages.str.contains(selected_age_str)) & 
                              ((data_dict.sex == selected_gender.value) |
                              (data_dict.sex == "Both"))]   
    
    with data_output:
            display(selection_filter)
    
    def selection_filtering(age_group, sex):
        output.clear_output()
        data_output.clear_output()

        selected_age_str= str(selected_age.value)
        
        selection_filter = data_dict[(data_dict.ages.str.contains(selected_age_str)) & 
                                  ((data_dict.sex == selected_gender.value) |
                                    (data_dict.sex == "Both"))]   
        with data_output:
            display(selection_filter)

    def selected_age_eventhandler(change):
        selection_filtering(change.new, selected_age.value)
    def selected_gender_eventhandler(change):
        selection_filtering(selected_gender.value, change.new)
    def selected_percentile_eventhandler(change):
        selection_filtering(selected_percentile.value, change.new)

    selected_age.observe(selected_age_eventhandler, names='value')
    selected_gender.observe(selected_gender_eventhandler, names='value')
    selected_percentile.observe(selected_percentile_eventhandler, names='value')

    list_of_variable_inputs = selection_filter["variables"].values[0:]
    variable_inputs = ', '.join(list_of_variable_inputs).replace(" ", "")
    variable_inputs = variable_inputs.split(',')
    
user_selection()

In [21]:
# def descriptor_generation():
# # eventually would need to split these up into the diff bins for different types of variable groups 
#     global df
#     df = pd.merge(acs_site_sum.loc[acs_site_sum['variables'].isin(variable_inputs)], \
#                    selection_filter, how="right", on="variables")    

# # calculate percentile_input_per_variable
#     global sum_for_percentile, percentile_input, percentile_table, percentile_table_transposed

# #adding in 0 value to dataframe...to have complete table for the percentiles 
#     percentile_table = df.append({'sum_in_area' : 0, 'variables':'Baseline_Value',\
#                                   'variable_group':'Baseline_Group'}, ignore_index=True)
#     percentile_table.sort_values("sum_in_area", axis = 0, ascending = True, inplace = True)

# #10th percentile = 0.1
#     percentile_input = selected_percentile.value / 100

# # split these up into the diff bins for different types of variable groups 
#     global language, education, household_income, school_enrollment

#     for item,i in enumerate(df):       
#         language = percentile_table[(percentile_table["variable_group"].str.contains('Language|Baseline_Group'))]
#         education = percentile_table[(percentile_table["variable_group"].str.contains('Educational Attainment|Baseline_Group'))]
#         school_enrollment = percentile_table[(percentile_table["variable_group"].str.contains('School|Baseline_Group'))]
#         household_income = percentile_table[(percentile_table["variable_group"].str.contains('Income|Baseline_Group'))]
# #       travel_time_to_work = percentile_table[(percentile_table["variable_group"].str.contains('Travel Time'))]
#         # means_of_transportation = percentile_table[(percentile_table["variable_group"].str.contains('Means of Transportation'))]

# # do this instead for the language tables etc 
#     global sum_for_percentile_language,sum_for_percentile_education,sum_for_percentile_school_enrollment,sum_for_percentile_household_income
#     sum_for_percentile_language = language.sum_in_area.quantile(percentile_input).astype(int).astype(str)
#     sum_for_percentile_education = education.sum_in_area.quantile(percentile_input).astype(int).astype(str)
#     sum_for_percentile_school_enrollment = school_enrollment.sum_in_area.quantile(percentile_input).astype(int).astype(str)    
#     sum_for_percentile_household_income = household_income.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    
# #generating new transposed table with only the two fields needed : variables and sum in area.
# #using other variables makes transposition weird
#     global language_transposed, education_transposed, household_income_transposed, school_enrollment_transposed

#     language_transposed = language.filter(["variables", "sum_in_area"]).T
#     language_transposed.columns = language_transposed.iloc[0]
#     language_transposed = language_transposed[1:]

#     education_transposed = education.filter(["variables", "sum_in_area"]).T
#     education_transposed.columns = education_transposed.iloc[0]
#     education_transposed = education_transposed[1:]
    
#     household_income_transposed = household_income.filter(["variables", "sum_in_area"]).T
#     household_income_transposed.columns = household_income_transposed.iloc[0]
#     household_income_transposed = household_income_transposed[1:]    
    
# #     school_enrollment_transposed = school_enrollment.filter(["variables", "sum_in_area"]).T
# #     school_enrollment_transposed.columns = school_enrollment_transposed.iloc[0]
# #     school_enrollment_transposed = school_enrollment_transposed[1:]    
    
# descriptor_generation()

In [132]:
def descriptor_generation():
# eventually would need to split these up into the diff bins for different types of variable groups 
# so we have the big dataframe with only the selected ages etc 
    global df
#     df = pd.merge(acs_site_sum.loc[acs_site_sum['variables'].isin(variable_inputs)], \
#                    selection_filter, how="right", on="variables")    
    df = pd.merge(acs_site_sum, \
                   selection_filter, how="inner", on="variables")    
# calculate percentile_input_per_variable
    global sum_for_percentile, percentile_input, percentile_table, percentile_table_transposed

#adding in 0 value to dataframe...to have complete table for the percentiles 
    percentile_table = df.append({'sum_in_area' : 0, 'variables':'Baseline_Value',\
                                  'variable_group':'Baseline_Group'}, ignore_index=True)
    percentile_table.sort_values("sum_in_area", axis = 0, ascending = True, inplace = True)

#10th percentile = 0.1
    percentile_input = selected_percentile.value / 100

# split these up into the diff bins for different types of variable groups 
    global language, education, household_type, family_household_income, nonfamily_household_income, school_enrollment

    for item,i in enumerate(df):       
        language = percentile_table[(percentile_table["variable_group"].str.contains('Language|Baseline_Group'))]
        education = percentile_table[(percentile_table["variable_group"].str.contains('Educational Attainment|Baseline_Group'))]
        school_enrollment = percentile_table[(percentile_table["variable_group"].str.contains('School|Baseline_Group'))]
        household_type = percentile_table[(percentile_table["variable_group"].str.contains('Household|Baseline_Group'))]
        family_household_income = percentile_table[(percentile_table["variable_group"].str.contains('Income|Baseline_Group'))]
        nonfamily_household_income = percentile_table[(percentile_table["variable_group"].str.contains('Income|Baseline_Group'))]
#       travel_time_to_work = percentile_table[(percentile_table["variable_group"].str.contains('Travel Time'))]
        # means_of_transportation = percentile_table[(percentile_table["variable_group"].str.contains('Means of Transportation'))]

# do this instead for the language tables etc 
    global sum_for_percentile_language,sum_for_percentile_education,sum_for_percentile_school_enrollment,sum_for_percentile_household_income
    sum_for_percentile_language = language.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    sum_for_percentile_education = education.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    sum_for_percentile_school_enrollment = school_enrollment.sum_in_area.quantile(percentile_input).astype(int).astype(str)    
    sum_for_percentile_household_type= household_type.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    sum_for_percentile_family_household_income = family_household_income.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    sum_for_percentile_nonfamily_household_income = nonfamily_household_income.sum_in_area.quantile(percentile_input).astype(int).astype(str)
    
#generating new transposed table with only the two fields needed : variables and sum in area.
#using other variables makes transposition weird
    global language_transposed, education_transposed, household_type_transposed, family_household_income_transposed, nonfamily_household_income_transposed, school_enrollment_transposed

    language_transposed = language.filter(["variables", "sum_in_area"]).T
    language_transposed.columns = language_transposed.iloc[0]
    language_transposed = language_transposed[1:]

    education_transposed = education.filter(["variables", "sum_in_area"]).T
    education_transposed.columns = education_transposed.iloc[0]
    education_transposed = education_transposed[1:]
    
    household_type_transposed = household_type.filter(["variables", "sum_in_area"]).T
    household_type_transposed.columns = household_type_transposed.iloc[0]
    household_type_transposed = household_type_transposed[1:]    
    
    family_household_income_transposed = family_household_income.filter(["variables", "sum_in_area"]).T
    family_household_income_transposed.columns = family_household_income_transposed.iloc[0]
    family_household_income_transposed = family_household_income_transposed[1:]
    
    nonfamily_household_income_transposed = nonfamily_household_income.filter(["variables", "sum_in_area"]).T
    nonfamily_household_income_transposed.columns = nonfamily_household_income_transposed.iloc[0]
    nonfamily_household_income_transposed = nonfamily_household_income_transposed[1:]
    
#     school_enrollment_transposed = school_enrollment.filter(["variables", "sum_in_area"]).T
#     school_enrollment_transposed.columns = school_enrollment_transposed.iloc[0]
#     school_enrollment_transposed = school_enrollment_transposed[1:]    
    
descriptor_generation()

In [194]:
#MAKE A FUNCTION
def get_variable_ranges():

    global ranges, range_table
    ranges=[]
    for item, i in enumerate(family_household_income_transposed.columns[1:]):
        family_household_income_range = np.arange(family_household_income_transposed.min()[item-1]+1, \
                               family_household_income_transposed.max()[item]+1).astype(int)
        if family_household_income_transposed.min()[item-1] == family_household_income_transposed.max()[item]:
            family_household_income_range = np.arange(family_household_income_transposed.min()[item-2]+1, \
                               family_household_income_transposed.max()[item]).astype(int)
       
        elif family_household_income_transposed.min()[item-2] == family_household_income_transposed.max()[item]:
            family_household_income_range = np.arange(family_household_income_transposed.min()[item-3]+1, \
                               family_household_income_transposed.max()[item]).astype(int)
#         elif family_household_income_transposed.min()[item-3] == family_household_income_transposed.max()[item]:
#             family_household_income_range = np.arange(family_household_income_transposed.min()[item-4]+1, \
#                                family_household_income_transposed.max()[item]+1).astype(int)        
#         elif family_household_income_transposed.min()[item-4] == family_household_income_transposed.max()[item]:
#             family_household_income_range = np.arange(family_household_income_transposed.min()[item-5]+1, \
#                                family_household_income_transposed.max()[item]+1).astype(int)   
        ranges.append([family_household_income_range])

    range_table = pd.DataFrame(data=ranges2, index=None, columns=["sum_in_area_ranges"])
    # range_table = range_table.reset_index()

    # family_household_income = family_household_income.reset_index()
    # family_household_income_with_ranges = pd.merge(range_table, family_household_income, left_index=True, right_index=True, on=None)
    # family_household_income_with_ranges

get_variable_ranges()

range_table

                                   sum_in_area_ranges
0                                                  []
1   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
2                        [66, 67, 68, 69, 70, 71, 72]
3                                                [73]
4    [74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]
5                                        [86, 87, 88]
6                                    [89, 90, 91, 92]
7                                    [93, 94, 95, 96]
8                                    [93, 94, 95, 96]
9                                                  []
10                                           [97, 98]
11                                     [99, 100, 101]
12                                    [102, 103, 104]
13                                    [105, 106, 107]
14                     [108, 109, 110, 111, 112, 113]
15                     [108, 109, 110, 111, 112, 113]
16  [114, 115, 116, 117, 118, 119, 120, 121, 122, ...
17  [114, 115, 116, 117, 118, 119, 120, 121, 122, ...
18  [132, 133, 134, 135, 136, 137, 138, 139, 140, ...
19                               [171, 172, 173, 174]
20  [175, 176, 177, 178, 179, 180, 181, 182, 183, ...

In [189]:
def range_per_variable_calculation():
    global range_table, ranges, language_range, education_range, household_income_range
    ranges=[]
    
    for item, i in enumerate(language_transposed.columns):
        language_range = np.arange(language_transposed.min()[item-1]+1, \
                               language_transposed.max()[item]+1).astype(int)
        ranges.append([language_range])
        
        
    for item, i in enumerate(education_transposed.columns):
        education_range = np.arange(education_transposed.min()[item-1]+1, \
                               education_transposed.max()[item]+1).astype(int)
        ranges.append([education_range])
        
    for item, i in enumerate(household_income_transposed.columns):
        household_income_range = np.arange(household_income_transposed.min()[item-1]+1, \
                               household_income_transposed.max()[item]+1).astype(int)
        ranges.append([household_income_range])
        
#     for item, i in enumerate(school_enrollment_transposed.columns):
#         each_range = np.arange(school_enrollment_transposed.min()[item-1]+1, \
#                                school_enrollment_transposed.max()[item]+1).astype(int)
#         ranges.append([each_range])

    range_table = pd.DataFrame(data=ranges, index=None, columns=["sum_in_area_ranges"])

    global percentile_table, range_table_cumulative
    
    #do for each
    percentile_table = percentile_table.reset_index()
#     percentile_table = percentile_table.reset_index()
#     percentile_table = percentile_table.reset_index()
#     percentile_table = percentile_table.reset_index()
    range_table = range_table.reset_index()

    range_table_cumulative = pd.merge(range_table, percentile_table, left_index=True, right_index=True, on=None)
    range_table_cumulative["sum_in_area_ranges"] = range_table_cumulative["sum_in_area_ranges"].astype(str)
    range_table_cumulative

range_per_variable_calculation()

In [190]:
range_table_cumulative

,index_x,sum_in_area_ranges,index_y,variables,sum_in_area,sex,age_group,variable_group,variable_name,variable_description,ages
0,0,[],29,Baseline_Value,0,NaN,NaN,Baseline_Group,NaN,NaN,NaN
1,1,[ 1 2 3 4 5 6 7 8 9 10 11 ...,18,S1901_C04_005E,65,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF4,"Nonfamily Household Income $25,000 to $34,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
2,2,[ 613 614 615 616 617 618 619 620 621 ...,19,S1901_C04_006E,72,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF5,"Nonfamily Household Income $35,000 to $49,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
3,3,[2694 2695 2696 2697 2698 2699 2700 2701 2702 ...,8,S1901_C01_005E,73,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F4,"Family Household Income $25,000 to $34,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
4,4,[5219 5220 5221 5222 5223 5224 5225 5226 5227 ...,9,S1901_C01_006E,85,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F5,"Family Household Income $35,000 to $49,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
5,5,[ 5842 5843 5844 5845 5846 5847 5848 58...,17,S1901_C04_004E,88,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF3,"Nonfamily Household Income $15,000 to $24,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
6,6,[],6,S1901_C01_003E,92,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F2,"Family Household Income $10,000 to $14,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
7,7,[ 1 2 3 4 5 6 7 8 9 ...,23,S1901_C04_010E,96,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF9,"Nonfamily Household Income $150,000 to $199,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
8,8,[6782 6783 6784 6785 6786 6787 6788 6789 6790 ...,16,S1901_C04_003E,96,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF2,"Nonfamily Household Income $10,000 to $14,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
9,9,[ 8284 8285 8286 8287 8288 8289 8290 82...,13,S1901_C01_010E,96,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F9,"Family Household Income $150,000 to $199,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
10,10,[13123 13124 13125 13126 13127 13128 13129 131...,24,S1901_C04_011E,98,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF10,"Nonfamily Household Income $200,000 or more","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
11,11,[],14,S1901_C01_011E,101,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F10,"Family Household Income $200,000 or more","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
12,12,[ 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 ...,7,S1901_C01_004E,104,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F3,"Family Household Income $15,000 to $24,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
13,13,[66 67 68 69 70 71 72],21,S1901_C04_008E,107,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF7,"Nonfamily Household Income $75,000 to $99,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
14,14,[73],20,S1901_C04_007E,113,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF6,"Nonfamily Household Income $50,000 to $74,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
15,15,[74 75 76 77 78 79 80 81 82 83 84 85],11,S1901_C01_008E,113,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F7,"Family Household Income $75,000 to $99,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
16,16,[86 87 88],10,S1901_C01_007E,131,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F6,"Family Household Income $50,000 to $74,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
17,17,[89 90 91 92],5,S1901_C01_002E,131,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F1,"Family Household Income Less than $10,000","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
18,18,[93 94 95 96],12,S1901_C01_009E,170,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,F8,"Family Household Income $100,000 to $149,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
19,19,[],15,S1901_C04_002E,174,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF1,"Nonfamily Household Income Less than $10,000","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
20,20,[],22,S1901_C04_009E,186,Both,all ages,Income In The Past 12 Months (in 2018 Inflatio...,NF8,"Nonfamily Household Income $100,000 to $149,999","5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,..."
21,21,[97 98],4,S1601_C01_018E,612,Both,18 to 64 years,Language Spoken At Home,Other languages,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
22,22,[ 99 100 101],2,S1601_C01_010E,2693,Both,18 to 64 years,Language Spoken At Home,Other Indo-European languages,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
23,23,[102 103 104],3,S1601_C01_014E,5218,Both,18 to 64 years,Language Spoken At Home,Asian and Pacific Island languages,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
24,24,[105 106 107],1,S1601_C01_006E,5841,Both,18 to 64 years,Language Spoken At Home,Spanish,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."
25,25,[108 109 110 111 112 113],28,S1501_C03_018E,6781,Male,25 to 34 years,Educational Attainment,Bachelor's degree or higher,NaN,"25,26, 27, 28, 29, 30, 31, 32, 33, 34"
26,26,[],27,S1501_C03_017E,8283,Male,25 to 34 years,Educational Attainment,High school graduate or higher,NaN,"25,26, 27, 28, 29, 30, 31, 32, 33, 34"
27,27,[114 115 116 117 118 119 120 121 122 123 124 1...,26,S1501_C01_018E,13122,Both,25 to 34 years,Educational Attainment,Bachelor's degree or higher,NaN,"25,26, 27, 28, 29, 30, 31, 32, 33, 34"
28,28,[],25,S1501_C01_017E,15576,Both,25 to 34 years,Educational Attainment,High school graduate or higher,NaN,"25,26, 27, 28, 29, 30, 31, 32, 33, 34"
29,29,[132 133 134 135 136 137 138 139 140 141 142 1...,0,S1603_C02_003E,24936,Both,18 to 64 years,Language Spoken At Home,Speak Only English at Home,NaN,"18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29,..."

In [ ]:
household_income = df[(df["variable_group"].str.contains('Income'))]
household_income

In [ ]:
household_income_range

In [ ]:
def generate_base_text():
    for item,i in enumerate(range_table_cumulative.index):
        global descriptors, result, result_variable, result_text
        descriptors=[]
        
        if range_table_cumulative["sum_ranges"].str.contains(sum_for_percentile_language).any():
            result = range_table_cumulative[range_table_cumulative['sum_ranges'].str.contains(sum_for_percentile_language)]
            
        elif range_table_cumulative["sum_ranges"].str.contains(sum_for_percentile_education).any():
            result = range_table_cumulative[range_table_cumulative['sum_ranges'].str.contains(sum_for_percentile_education)]
#     else:
#         print("Error!")
        result_variable = result["variables"].values[0]

        #So returning the data dictionary for this 
        dict_result = data_dict[data_dict["variables"].str.contains(result_variable)]
        result_text = dict_result["variable_name"].values[0]

        #then append to empty dataframe that will have the data for text generation
        descriptors.append([result_text])
            
generate_base_text()

In [ ]:
household_income_range_string = ",".join(household_income_range.astype(str))
# test = range_table.loc[range_table["sum_in_area_ranges"].str.contains(household_income_range_string)]
range_table["sum_in_area_ranges"].astype(str).str.contains(household_income_range_string)
# type(household_income_range_string)

In [ ]:
range_table

In [ ]:
# descriptors ... so need to fix this. 
# need to actually make this loop

In [ ]:
text_generation_button = Button(description="Generate Text")

In [ ]:
def replace_text():
    percentile_string = "This description represents the top "+ str(selected_percentile.value) + "% of this area's residents."
    print(percentile_string)
    
    if (selected_gender.value == "Male"):
        gender_text = "she"
    elif (selected_gender.value == "Female"):
        gender_text = "he"
    elif (selected_gender.value == "Both"):
        gender_text = "they"
        
    if (selected_age.value == "5 to 17 Years") & (selected_gender.value == "Total Population"):
        subject_description = "As a young woman, you "
    else:
        subject_description = "As a young woman, you "
    
    if (result_text == "Speak a Language other than English at Home"):
        language_text = "In addition to english, " + gender_text + " speaks " + + " at home."
#     This young woman is well-educated and has at least a bachelor’s degree. In addition to English, she speaks Spanish at home. She lives with her family, and her household is quite wealthy. She drives to work alone on her short commute. 

    global resident_string
    resident_string = language_text + percentile_string
    
    with output:
        display(resident_string)
    
replace_text()

In [ ]:
# resident_string = "help"

#TEXT GENERATION
def text_generation(b):
    output.clear_output()
    data_output.clear_output()
    
    user_selection()
    descriptor_generation()
    range_per_variable_calculation()
    generate_base_text()
    
    replace_text()    
    
text_generation_button.on_click(text_generation)

In [ ]:
def display_dashboard():
    user_selection()
    
    item_layout = widgets.Layout(margin='0 0 10px 0')
    
    with output:
        display(resident_string)
    with data_output:
        display(range_table)
        
    input_widgets = widgets.VBox(
        [selected_age, selected_gender, selected_percentile, text_generation_button],
        layout=item_layout)
    
    tab = widgets.Tab([output, data_output],
        layout=item_layout)
    tab.set_title(0, 'Narrative')
    tab.set_title(1, 'Dataset Exploration')
    
    dashboard = widgets.VBox([input_widgets, tab])
    display(dashboard)

display_dashboard()

In [ ]:
# widget_control = WidgetControl(widget=text_generation_button, position='topright')
# m.add_control(widget_control)

# m